{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="compromisso/">
    <button type="button">Novo Compromisso</button>
    </a>
    <ul style="font-size 20px">
        {% for compromisso in compromissos %} <!-- chave e porcentagem usar comandos do python-->
            <li>
                <div style= {% if compromisso.get_compromisso_atrasado %}
                                "color:red"
                                {% endif %}>
                    {{ compromisso.titulo }} - {{ compromisso.get_data_evento }} <!--duas chaves{{ é para imprimir algo do python -->
                    ( <a href="compromisso/?id={{ compromisso.id }}">Editar</a>  <!-- ? para passar parâmetro no GET -->
                    / <a href="compromisso/delete/{{ compromisso.id }}/">Excluir</a>)
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}