{% extends "model-page.html" %}

{% block content %}

<h2>Compromisso</h2>

    <form action="submit" method="POST">{% csrf_token %}
    <label>Título</label>
    <input type="number" name="id_compromisso" value="{{ compromisso.id }}" hidden>
    <br>
    <input type="text" name="titulo" size="23" value="{{ compromisso.titulo }}">
    <br>
    <label>Data do Compromisso</label>
    <br>
    <input type="datetime-local" name="data_evento" value="{{ compromisso.get_data_input_evento }}">
    <br>
    <label>Descrição</label>
    <br>
    <textarea name="descricao" rows="5" cols="24">{{ compromisso.descricao }}</textarea>
    <br>
    <button type="submit">Salvar</button>
    <a href="/">
        <button type="button">Cancelar</button>
    </a>
</form>
{% endblock %}